.wrapper {
    font-family: 'Raleway';
    font-style: normal;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.width {
    width: 100%;
}

.name {
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    margin: 0;
}

.brand {
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    margin: 0;
    margin-bottom: 5px;
}

.group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.attribute {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 5px 0;
}

.price {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    margin: 5px 0;
}