.container {
    width: 730px;
    display: flex;
    justify-content: space-between;
}

.imgsmall {
    display: flex;
    flex-direction: column;
}

.imgbig {
    object-fit: contain;
}

.img {
    margin-bottom: 20px;
    object-fit: cover;
}

.clicked {
    border: 1px solid lightgray;
}

