.wrapper {
    margin-top: 10px;
}

.margin {
    margin-top: 15px;
}

.title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    margin-bottom: 10px;
}

.blocktitle {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    text-transform: capitalize;
}

.name {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    margin-top: 5px;
}

.flex {
    display: flex;
}

.value {
    border: 1px solid black;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
}

.active {
    color: white;
    background-color: black;
}

.price {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    margin: 0;
}

.block {
    display: flex;
    margin-top: 20px;
}

.datablock {
    margin-right: auto;
}