  .container {
    position: relative;
    max-width: 1240px;
    margin: auto;
  }

  .modal {
    position: absolute;
    top: 80px;
    right: 0;
    width: 325px;
    background-color: white;
    padding: 15px;
    z-index: 30;
  }

  
  