.wrapper {
    position: relative;
}

.img {
    width: 200px;
    height: 100%;
    object-fit: scale-down;
}

.button {
    position: absolute;
    bottom: 16px;
    width: 24px;
    height: 24px;
    background: rgba(0, 0, 0, 0.7);
    border: none;
}

.button:hover {
    background: rgba(0, 0, 0, 1);
}

.right {
    right: 16px;
}

.left {
    right: 48px;
}

.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.arrowright {
    transform: rotate(-45deg);
}

.arrowleft {
    transform: rotate(135deg);
}

