.container {
    position: relative;
    margin-right: 10px;
}

.container input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px solid black;
}

.title label {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    margin: 10px;
}

.color {
    position: relative;
    min-width: 30px;
    min-height: 30px;
    border: 1px solid lightgray;
}

.container > input:checked + .title {
    background-color: var(--brand-black);
    color: white;
}

.container > input:checked + .color {
    border: 1px solid white;
}

.container > input:checked + .color:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 1px solid var(--brand-green);
}